{% extends "didgUwear/base.jinja" %}
{% block title %}
Home
{% endblock %}
{% block maincontent %}
<div class="row">
    <div class="container">
        <div class="col-sm-11">
        <form style="font-family: 'Big Shoulders Text', cursive; color: mediumorchid; font-size:30px" action="/add" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit">
        </form>
        </div>
    </div>
</div>


{% endblock maincontent %}