{% extends "didgUwear/base.jinja" %}
{% block title %}
Home
{% endblock %}
{% block maincontent %}
<div class="row">
    <div class="container">
        <div class="col-sm-11">
        <form style="font-family: 'Satisfy', cursive; color: mediumorchid; font-size:30px " action="">
            Outfit Nickname *
            <input type="text" name="nickname"><br>
            Primary Color *
            <select name="primary_color"required>
                <option></option>
                <option value="blue">Blue</option>
                <option value="black">Black</option>
                <option value="green">Green</option>
                <option value="purple">Purple</option>
                <option value="pink">Pink</option>
                <option value="orange">Orange</option>
                <option value="yellow">Yellow</option>
                <option value="white">White</option>
            </select><br>
            Secondary Color
            <select name="secondary_color"required>
                <option></option>
                <option value="blue">Blue</option>
                <option value="black">Black</option>
                <option value="green">Green</option>
                <option value="purple">Purple</option>
                <option value="pink">Pink</option>
                <option value="orange">Orange</option>
                <option value="yellow">Yellow</option>
                <option value="white">White</option>
            </select><br>
            Style  *
            <select name="style" required>
                <option></option>
                <option value="striped">Striped</option>
                <option value="dots">Polka Dots</option>
                <option value="plain">Plain</option>
                <option value="knit">Knit</option>
                <option value="plaid">Plaid</option>
                <option value="graphic">Graphic T-Shirt</option>
                <option value="denium">Denium</option>
            </select><br>
            Occasion *
            <select name="occasion" required>
                <option></option>
                <option value="formal">Formal</option>
                <option value="fitness">Fitness</option>
                <option value="sunday">Sunday Best</option>
                <option value="casual">Casual</option>
            </select><br>
            Weather *
            <select name="weather" required>
                <option></option>
                <option value="cold">Cold</option>
                <option value="rain">Rainy</option>
                <option value="sunny">Sunny</option>
                <option value="hot">Hot</option>
                <option value="snow">Snow</option>
            </select><br>
            Holiday
            <select name="holiday">
                <option></option>
                <option value="christmas">Christmas</option>
                <option value="halloween">Halloween</option>
                <option value="patriotic">Patriotic</option>
                <option value="other">Other</option>
            </select><br>
            Fit
            <select name="fit">
                <option></option>
                <option value="lose">Lose</option>
                <option value="tight">Tight</option>
            </select><br>
            Description
            <input type="text" name="description"><br>
            Brand
            <input type="text" name="brand"><br>
            <input type="file" name="clothingPic" accept="image/*"><br>
            <br>
            <input type="submit" value="Submit">
        </form>
  </div>
    </div>
</div>
{% endblock maincontent %}