<!DOCTYPE html>
<html lang="en">
{% block head %}
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'didgUwear/site.css' %}"/>
    <link href="https://fonts.googleapis.com/css?family=Big+Shoulders+Text|Dosis&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Satisfy&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<div class="header">
  <h1 style="font-family: 'Satisfy', cursive; text-align:left; text-size:100px;">Did U Wear?</h1>
  <h2 style="font-family: 'Dosis', sans-serif; text-align:center;">An Online Closet</h2>
</div>

<div class="topnav" style="font-size:40;">
  <a class="navLinks" href="closet">Closet</a>
  <a class="navLinks" href="add">Add</a>
  <a class="navLinks" href="style">Style</a>
  <a class="navLinks" href="calendar">Calendar</a>
  <a class="navLinks" href="#" style="float:right">About</a>
</div>
{% endblock head %}

{% block maincontent %}
<p> This page seems to have no content</p>
{% endblock maincontent %}

{% block footer %}
  <h4 style="font-family: 'Satisfy', cursive; text-align:center;">Copyright Bradlee Rothwell </h4>
{% endblock footer %}
